<h2>Users wanting premium</h2>
<div id="load-more-container" 
     hx-get="/get_premium_wanters" 
     hx-trigger="click" 
     hx-indicator="#loading-indicator"
     hx-swap="outerHTML"
     style="cursor:pointer;">
    load users
</div>



<h2>Last 100 lines from the error log file</h2>
<div id="load-more-container" 
     hx-get="/admin-error-logfile" 
     hx-trigger="click" 
     hx-indicator="#loading-indicator"
     hx-swap="outerHTML"
     style="cursor:pointer;">
    load error log file by clicking
</div>



<div id="loading-indicator" hx-swap-oob="true"></div>
