<div class="faq-container">
    <h1 style="text-align: center;"><u>{{gettext("FAQ")}}</u></h1>

<div class="public-orgs-container">
    <div class="public-orgs">
                <div class="public-orgs-header">
                    <h2>{{gettext("What is PacePeek?")}}</h2>
                </div>
            <div class="public-orgs-list">
                <p><strong>{{gettext("PacePeek")}}</strong> {{gettext("is an automated social media platform for developers.")}}</p>
            </div>
    </div>
</div>

<div class="public-orgs-container">
    <div class="public-orgs">
        <details>
            <summary style="cursor: pointer; list-style:none;">
                <div class="public-orgs-header">
                    <h2>{{gettext("How does it work?")}}</h2>
                </div>
            </summary>
            <div class="public-orgs-list">
            <p>{{gettext("You can track your public repositories, and PacePeek will generate summaries from the changes you make. By installing PacePeek's GitHub app on your personal GitHub account, you enable PacePeek to fetch necessary commit data from your repositories. You can also add markdown and HTML widgets to showcase your latest posts elsewhere on the internet. Follow other users to see their posts on your home page. PacePeek waits for a significant enough changes across commits to be made before generating a progress summary post, ensuring that the posts reflect meaningful progress. All posts older than 2 months are deleted for keeping things fresh. Premium accounts(coming) can add one X account to their PacePeek account to repost every post to X.")}}</p>

            </div>
        </details>
    </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
{% include '_sticky_main_tabs.html' %}
