<div class="faq-container">
    <h1 style="text-align: center;"><u>FAQ</u></h1>

<div class="public-orgs-container">
    <div class="public-orgs">
                <div class="public-orgs-header">
                    <h2>What is PacePeek?</h2>
                </div>
            <div class="public-orgs-list">
                <p>PacePeek is a platform that helps developers showcase their coding progress and connect with others who share similar interests.</p>
                <p>By tracking your public repositories, PacePeek creates a personalized feed of your coding achievements, highlighting your significant progress and milestones.</p>
                <p>With PacePeek, you can:</p>
                <ul>
                    <li>Track your public repositories and see your progress unfold</li>
                    <li>Share your coding achievements with others</li>
                    <li>Follow fellow developers and see their posts on your home page</li>
                    <li>Discover new projects and collaborations</li>
                </ul>
                <p>PacePeek is all about celebrating your coding progress, no matter how big or small. Join our community today and start peeking into the pace of coding.</p>
            </div>
    </div>
</div>

<div class="public-orgs-container">
    <div class="public-orgs">
        <details>
            <summary style="cursor: pointer; list-style:none;">
                <div class="public-orgs-header">
                    <h2>Why PacePeek?</h2>
                </div>
            </summary>
            <div class="public-orgs-list">
                <p>I created PacePeek because I liked to build projects and wanted to know what other people were working on. There was really no way of knowing that unless going through their code changes manually and reading their commit messages. And we all know how commit messages are on side projects XD. Sure some people share their progress on X by building in public but it requires effort. With the rise of better and cheaper llms, this kind of tracking is now possible. The turning point for this was Meta's llama3 which is reliable/cheap enough to do this job.</p>
            </div>
        </details>
    </div>
</div>
<div class="public-orgs-container">
    <div class="public-orgs">
        <details>
            <summary style="cursor: pointer; list-style:none;">
                <div class="public-orgs-header">
                    <h2>How to get started?</h2>
                </div>
            </summary>
            <div class="public-orgs-list">
                <p>
                <ul>
                    <li>Sign in with your GitHub account.</li>
                    <li>Install PacePeek's GitHub app on your personal GitHub account.</li>
                    <li>Track your public repositories.</li>
                    <li>Make meaningful changes to your code.</li>
                    <li>PacePeek will generate posts to showcase your progress.</li>
                    <li>Follow other users to see their posts on your home page :)</li>
                </p>
            </div>
        </details>
    </div>
</div>
               
<div class="public-orgs-container">
    <div class="public-orgs">
        <details>
            <summary style="cursor: pointer; list-style:none;">
                <div class="public-orgs-header">
                    <h2>How does the algorithm work?</h2>
                </div>
            </summary>
            <div class="public-orgs-list">
                <p>

                <ul>
                    <li>The algorithm analyzes your code changes to identify significant progress.</li>
                    <li>When you make meaningful changes, the algorithm creates a post to showcase your work.</li>
                    <li>It's not about the number of commits – it looks at the quality and quantity of your changes as a whole to determine what's significant.</li>
                    <li>If you make multiple commits, but they're not substantial enough, a post won't be created. However, if you make a series of commits that collectively represent significant progress, a post is created to highlight your achievement.</li>
                    <li>You can make up to 10 posts per day, so focus on making meaningful progress and PacePeek will take care of the rest!</li>
                    <li>All Posts have a lifespan of 2 months. This keeps the content fresh, leaderboard accurate and you hungry;).</li>
                </ul>
                </p>
                <br>
                <h4>Here is the system prompt used to judge significance:</h4>
                <p>Your task is to analyze the provided commits and evaluate their significance. If there are multiple commits, analyze them collectively.</p> <p>A 'significant' commit could:</p> <ul> <li>- Add a new feature or substantially progress a larger feature</li> <li>- Perform a major refactor or significant code cleanup</li> <li>- Resolve a critical bug or issue that has a major impact on the system or user experience</li> </ul> <p>A 'not significant' commit could:</p> <ul> <li>- Involve minor tweaks or bug fixes that don't have a major impact</li> <li>- Add comments or documentation</li> <li>- Perform small refactoring tasks</li> <li>- Add a file or files without significant changes</li> </ul>
                </p>
            </div>
        </details>
    </div>
</div>
<div class="public-orgs-container">
    <div class="public-orgs">
        <details>
            <summary style="cursor: pointer; list-style:none;">
                <div class="public-orgs-header">
                    <h2>How to share my posts on the internet?</h2>
                </div>
            </summary>
            <div class="public-orgs-list">
                <p>With PacePeek Premium you can create custom HTML and Markdown widgets that you can embed on your website or blog to showcase your coding progress.
                Also the X Automation feature automatically posts your updates to your X bot account.
                </p>
            </div>
        </details>
    </div>
</div>



<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
{% include '_sticky_main_tabs.html' %}
