
<div class="welcome">
    <div class="welcome-container">
        <div class="first-page">
            <h1><span>PacePeek</span>: Automated social media platform for developers.</h1>
            <p>Turns your code changes into progress posts.</p>
            <br>
            <br>
            <br>
            <img src="{{ url_for('static', filename='photos/post_showcase2.png')}}" alt="PacePeek Post" class="pacepeek-post-showcase">
            <br>
            <br>
            <a href="/faq"><button class="basic-button-landing">Learn More</button></a>
        </div>
    </div>
</div>
