
<div class="welcome">

    <div class="welcome-container">
        <div class="first-page">
            <h1><span>PacePeek</span>:
            Your Coding Journey, Shared</h1>
            <p>Turns your code changes into progress posts.</p>
            
            <img src="{{ url_for('static', filename='photos/post_showcase2.png')}}" alt="PacePeek Post" class="pacepeek-post-showcase">
            <div class="feature-highlights">
                <div class="feature">
                    <h3>🤝 Connect with Coders</h3>
                    <p>Follow fellow developers and get inspired by their coding journey</p>
                </div>
                
                <div class="feature">
                    <h3>🌐 Share Anywhere</h3>
                    <p>Embed your progress on your blog, portfolio, or share directly to X/Twitter</p>
                </div>
            </div>
        </div>
    </div>
</div>

