<div class="back-button" onclick="window.history.back()" hx-trigger="click" style="cursor: pointer;">&#8592; Back</div>
<div class="single-post-container">
    <div class="post">
        <div class="post-header">
            {% if post.commits[0].user %}
                <a hx-get="/{{ post.commits[0].user.github_login }}" hx-push-url="true" hx-trigger="click" hx-target=".main-container" hx-swap="innerHTML" style="cursor: pointer;">
                    {% if post.commits[0].user.github_avatar_url %}
                        <img class="profile-image-post" src="{{ post.commits[0].user.github_avatar_url}}" alt="Profile image">
                    {% else %}
                        <img class="profile-image-post" src="https://github.com/rasmustestaccount.png" alt="Profile image">
                    {% endif %}

                </a>
            {% endif %}
            <div class="post-info">
                {% if post.commits[0].user %}
                <span class="post-author" hx-get="/{{ post.commits[0].author_github_login }}" hx-push-url="true" hx-trigger="click" hx-target=".content" hx-swap="innerHTML" style="cursor: pointer;">
                    {{ post.commits[0].user.name }}
                </span>
                {% else %}
                <span class="post-author-absent">
                    {{ post.commits[0].author_github_login}}
                </span>
                {% endif %}
                <span class="post-repo">in <a href="https://github.com/{{post.commits[0].author_github_login}}/{{post.repo.name}}" target="_blank">{{ post.commits[0].repo.name }}</a></span>
            </div>
        </div>
        {% if post.content_decrypted %}
            <p>{{post.content_decrypted|striptags}}</p>
        {% else %}
            <p>no content.</p>
        {% endif %}
        <br>
        <details>
            <summary>Details..</summary>
            <div style="cursor: auto;">
                {% if post.lines_changed == 1 %}
                <span>{{post.lines_changed}} line changed</span>
                {% else %}
                <span>{{post.lines_changed}} lines changed</span>
                {% endif %}
                <br>
                {% if post.summary_provider == 'local' %}
                    <p>Summary made with {{post.summary_model}}
                {% else %}
                <p>Summary made with model {{post.summary_model}}
                {% endif %}
                <br>
                {% if post.repo.private %}
                from {{post.commits|length}} commits</p>
                {% else %}
                from commits:</p>
                # for commit in post.commits 
                <span><small>{{commit.creation_timestamp|timestamp_to_user_localtime|pretty_time}}</small></span> <a href="{{commit.link}}" target="_blank"><u>{{commit.sha[:7]}}</u></a> <span>on branch {{commit.branch.name}}</span>
                <br>
                # endfor
                {% endif %}
                {% if post.programming_language %}
                <p>Programming language: {{post.programming_language}}</p>
                {% endif %}
                {% if current_user_owner %}
                <br>
                <br>
                <button 
                    type="button" 
                    class="basic-button" 
                    hx-get="/delete_post/{{post.id}}" 
                    hx-trigger="click once" 
                    hx-confirm="Are you sure you want to delete the post? This action is irreversible." 
                    title="Delete? This action is irreversible.">Delete</button>
                {% endif %}
            </div>
        </details>
        <br>
        {% if post.creation_timestamp %}
            <small>{{post.creation_timestamp|timestamp_to_user_localtime|pretty_time}}</small>
        {% else %}
            <small>no creation timestamp.</small>
        {% endif %}
    </div>
</div>
<!-- last four posts for context here -->
<br>
{% if last_four_posts %}
<details>
    <summary style="padding: 20px; cursor: pointer;"><small>Previous posts from repo {{post.commits[0].repo.name}}-></small></summary>
    <div style="cursor: auto;">
        <div class="last-posts">
        {{ rendered_last_four_posts | safe }}
        </div>
    </div>
</details>
{% endif %}
