<div class="pricing-container">

    <small>{{gettext("PacePeek is currently free to use:)")}}</small>
    <br>
    <br>
    <small>{{gettext("Would you be interested in having better models like gpt-4o to summarize your changes?")}}</small>
    <small>{{gettext("Or maybe you would like to have a bot that would automatically post your updates to your X account?")}}</small>
    <br>
    <small>{{gettext("Let me know in the general feedback form below:)")}}</small>
    <br>
    <br>
    {% include '_feedback_report_form.html' %}
    <br>
    <a href="mailto:r@rasmusmultiverse.com"><button class="buy-button">{{gettext("Contact")}}</button></a>
{% include '_sticky_main_tabs.html' %}
