<div class="pricing-wrapper">

    <div class="pricing-header">
        <h1>Choose Your Plan</h1>
    </div>

    <div class="pricing-container">
        <div class="pricing-card">
            <div class="plan-name">Free</div>
            <div class="plan-price">€0</div>
            <ul class="features-list">
                <li>Track unlimited public repos</li>
                <li>10 posts per day</li>
                <li>Follow other users</li>
            </ul>
            <a href="/" class="cta-button free">Get Started</a>
        </div>

        <div class="pricing-card premium">
            <div class="plan-name">Premium</div>
            <div class="plan-price">€50</div>
            <ul class="features-list">
                <li>All Free features</li>
                <li>Custom embeddable widgets</li>
                <li>X (Twitter) bot account</li>
            </ul>
            <a href="{{app_url}}/create-checkout" class="cta-button premium">Upgrade Now</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    {% include '_feedback_report_form.html' %}
    <br>
    <a href="mailto:r@rasmusmultiverse.com"><button class="buy-button">Contact</button></a>
{% include '_sticky_main_tabs.html' %}
