<div class="feed">
    <div class="main-container">

        <div class="profile-container">
            <div class="sticky">
                <div class="profile-info">
                    <a hx-get="/{{ user.github_login }}" hx-push-url="true" hx-trigger="click" hx-target=".main-container" hx-swap="innerHTML" style="cursor: pointer;">
                        {% if user.github_avatar_url %}
                            <img class="profile-image" src="{{ user.github_avatar_url}}" alt="Profile image">
                        {% else %}
                            <img class="profile-image" src="https://github.com/rasmustestaccount.png" alt="Profile image">
                        {% endif %}
                    </a>
                    <h2>{{user.name}}</h2>
                    <a href="https://github.com/{{user.github_login}}" target="_blank">->github.com/{{user.github_login}}</a>
                    <div class="follow-button {% if not current_user.is_authenticated %}hidden{% endif %}">
                        {% if is_following %}
                        <button 
                            type="button" 
                            class="basic-button button-happy"
                            hx-get="/unfollow-{{ user.github_login }}" 
                            title="Unfollow?"
                            hx-swap="outerHTML">
                            {{gettext("Following")}}
                        </button>
                        {% else %}
                        <button 
                            type="button" 
                            class="basic-button" 
                            hx-get="/follow-{{ user.github_login }}" 
                            hx-swap="outerHTML">
                            {{gettext("Follow")}}
                        </button>
                        {% endif %}
                    </div>

                </div>
                <!-- Tab buttons -->
                <div id="tabs" hx-target=".content" hx-swap="innerHMTL">
                    <button class="tab-button {{ 'selected' if selected_profile_tab == 'user_posts' else '' }}"
                        hx-get="/{{user.github_login}}" 
                        hx-vals='{"selected_profile_tab": "user_posts"}'>{{gettext("Posts")}}
                    </button>
                    <button class="tab-button {{ 'selected' if selected_profile_tab == 'tracked_repos' else '' }}" 
                        hx-get="/{{user.github_login}}" 
                        hx-vals='{"selected_profile_tab": "tracked_repos"}'>{{gettext("Repositories")}}
                    </button>
                    {% if current_user.is_authenticated and current_user.github_login == user.github_login %}
                    <button class="tab-button {{ 'selected' if selected_profile_tab == 'user_settings' else '' }}" 
                        hx-get="/{{user.github_login}}" 
                        hx-vals='{"selected_profile_tab": "user_settings"}'>{{gettext("Integrations")}}
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="profile-content">
                {% if selected_profile_tab == 'user_posts' %}
                    {% include '_feed.html' %}
                {% elif selected_profile_tab == 'tracked_repos' %}
                    {% include '_repos.html' %}
                {% else %}
                    {% include '_user_settings.html' %}
                {% endif %}
            </div>

        </div> 
        {%include '_sticky_main_tabs.html'%}

    </div>
</div>
<div class="sidebar sidebar-right"> 
</div>


{% include '_flash_messages.html' %}
