{% if not user.suspended %}
    {% if current_user.github_login == user.github_login%}

        {% if not current_user.github_installation_id %}
        <p style="padding: 10px;">{{gettext("PacePeek Integration Installation is needed for tracking repositories:)")}}</p>
        <a href="{{install_url}}" class="a-button basic-button">{{gettext("Install PacePeek Integration to your personal account")}} "{{current_user.github_login}}"</a>
        {% else %}
            <button 
                type="button" 
                class="basic-button track-button"
                hx-get="/get-repos-user" 
                hx-trigger="click once"
                hx-indicator="#loadingIcon"
                hx-target=".main-container"
                hx-swap="innerHTML">
                {{gettext("Find more repos to track")}}
            </button>
        {% endif %}
        <div class="repo-list border-on-top">
            {% include '_tracked_repos.html' %}
        </div>
    {% else %}
    <div class="repo-list">
        {% include '_tracked_repos.html' %}
    </div>
    {% endif %}
{% else %}
    {% if current_user.github_login == user.github_login%}
        <p style="padding: 10px;">{{gettext("Your account is suspended. Please contact the administrator.")}}</p>
    {% else %}
        <p style="padding: 10px;">{{gettext("This account is suspended.")}}</p>
    {% endif %}
{% endif %}
