<div class="tos-privacy-container">
    <h1><u>Terms of Service</u></h1>

    <h3>Introduction</h3>
    <p>Our app is wants to inspire you by allowing you to see inside others' development processes.</p>
    <p>Welcome to PacePeek! By using our app, you agree to the following Terms of Service, which outline the rules and guidelines for your use of this app.</p>

    <h3>User Account Creation and Management</h3>
    <p>To use our app, you must login using your GitHub account. You can delete your account along with all the data from settings page. You are responsible for keeping your account information up to date and secure.</p>

    <h3>App Usage Guidelines</h3>
    <p>You agree to use our app only for its intended purpose and not to attempt to reverse engineer, decompile, abuse, or disassemble the app or its underlying technology.</p>

    <h3>Payment Terms</h3>
    <p>Our app is currently free to use. We reserve the right to introduce paid features or subscriptions in the future.</p>

    <h3>Warranty and Liability Disclaimers</h3>
    <p>Our app is provided on an 'as is' and 'as available' basis, without warranties of any kind. We disclaim all liability for any damages or losses arising from the use of our app.</p>

    <h3>Governing Law and Jurisdiction</h3>
    <p>These Terms of Service are governed by and construed in accordance with the laws of Finland. Any disputes arising from the use of our app will be resolved through binding arbitration in Tampere.</p>

    <h3>Changes to the Terms of Service</h3>
    <p>We may update these Terms of Service from time to time. We will notify you of any changes by posting the updated Terms of Service on this page.</p>

    <p>By using our app, you acknowledge that you have read, understood, and agree to these Terms of Service.</p>


    <h1><u>Privacy Policy</u></h1>
    <h3>What We Store</h3>
    <p>When you signup, we store the following information:</p>
    <ul> 
        <li>Your GitHub account's username, ID, and avatar URL for displaying your profile.</li> 
        <li>Your user access and refresh token, which we use to access your GitHub account when you're actively using GitHub-related features.</li> 
        <li>Your encrypted email address, which we may use for future payments or contacting you if you grant permission.</li> 
        <li>Your timezone, which we use to display the correct time.</li>
    </ul>

    <h3>Additional Information for Tracking Repos</h3>
    <p>If you decide to track your repositories, you'll need to install the GitHub App on your personal GitHub account. We'll then store the following information:</p>
    <ul> 
        <li>Your GitHub App installation ID.</li> 
        <li>Your GitHub App installation access token, which we'll store temporarily (for 1 hour after deriving it from the installation ID)</li> 
    </ul>

    <h3>Encryption</h3>
    <p>All tokens and emails are stored encrypted for your security.</p>
    <br>

    <p>If you have any questions about these Terms or the Privacy Policy, please contact at <a href=\"mailto:r@rasmusmultiverse.com\">r@rasmusmultiverse.com</a>.</p>
</div>

