<div class="tos-privacy-container">
    <h1><u>{{gettext("Terms of Service")}}</u></h1>
    <p>Be good.</p>
    <p>All rights reserved.</p>

    <h1><u>Privacy Policy</u></h1>
    <p>When you signup, PacePeek stores your 
    <ul>
        <li>github account's username, id, avatar url for showing and identifying your profile</li>
        <li>user access/refresh token which is used to access your GitHub account when you are actively using GitHub related features on PacePeek</li>
        <li>encrypted email for possible future payments and contacting your if you give permission</li>
        <li>timezone for showing you the correct time</li>
    </ul>
    </p>
    <br>
    <p>If you decide to start tracking your repos, you will need to install PacePeek Integration GitHub App on your GitHub account. Then PacePeek will need to store the following information:
    <ul>
        <li>GitHub App installation id</li>
        <li>GitHub App installation access token will be stored temporarily(1 hour after deriving it from installation id) for convenience if multiple commits need to be processed back to back</li>
    </ul>
    <p>All tokens and emails are stored encrypted.</p>
    <br>
    <p>By using PacePeek you agree with this page.</p>
    <p>{{gettext("If you have any questions about these Terms or the Privacy Policy, please contact at")}} <a href=\"mailto:r@rasmusmultiverse.com\">r@rasmusmultiverse.com</a>.</p>
</div>

