<h2><a href="https://github.com/{{user.github_login}}" target="_blank">{{user.github_login}}</a></h2>
{% if not user.is_premium %}
<div class="basic-button button-happy" hx-get="/user-account-give-{{user.github_id}}" hx-swap="outerHTML" hx-confirm="you are giving premium from {{user.github_login}}?" hx-trigger="click">give premium</div>
{% else %}
<div class="basic-button button-sad" hx-get="/user-account-remove-{{user.github_id}}" hx-swap="outerHTML" hx-confirm="you are removing premium from {{user.github_login}}?" hx-trigger="click">remove premium</div>
{% endif %}
{% if user.suspended %}
<div class="basic-button button-happy" hx-get="/user-account-unsuspend-{{user.github_id}}" hx-swap="outerHTML" hx-trigger="click" hx-confirm="you are unsuspending {{user.github_login}}?">unsuspend</div>
{% else %}
<div class="basic-button button-sad" hx-get="/user-account-suspend-{{user.github_id}}" hx-swap="outerHTML" hx-trigger="click" hx-confirm="you are suspending {{user.github_login}}?">suspend</div>
{% endif %}
<br>
<h2>AVG posts per day</h2>
<p>{{avg_posts_per_day}}</p>
<h2>AVG lines changed per day</h2>
<p>{{avg_lines_changed_per_day}}</p>
<br>
<h2>AVG lines changed per post</h2>
<p>{{avg_lines_changed_per_post}}</p>
<h2>Post-to-Commit Ratio</h2>
<p>{{post_to_commit_ratio}}</p>
<br>
<h2>Total Post count</h2>
<p>{{total_post_count}}</p>
<h2>Total Commit count</h2>
<p>{{total_commit_count}}</p>


<h2>Tokens per post</h2>
<p>judging: {{real_judging_token_count_avg}}</p>
<p>summary: {{real_summary_token_count_avg}}</p>



