<h2>{{user.github_login}}</h2>
{% if not user.premium_subscription %}
<div class="basic-button button-happy" hx-get="/premium-to-user-give-{{user.github_id}}" hx-swap="outerHTML" hx-confirm="you are giving premium from {{user.github_login}}?" hx-trigger="click">give premium</div>
{% else %}
<div class="basic-button button-sad" hx-get="/premium-to-user-remove-{{user.github_id}}" hx-swap="outerHTML" hx-confirm="you are removing premium from {{user.github_login}}?" hx-trigger="click">remove premium</div>
{% endif %}
<p>commits len:{{commits|length}}</p>
<p>posts len:{{user.posts|length}}</p>

<h2>average per post</h2>
<h4>judging</h4>
<p>estimated tokens per post: {{estimate_judging_token_count_avg}}</p>
<p>real tokens per post: {{real_judging_token_count_avg}}</p>
<br>
<p>estimated cost per post: {{estimate_cost_judging_post}}</p>
<p>real cost per post: {{real_cost_judging_post}}e</p>
<h4>summary</h4>
<p>estimated tokens per post: {{estimate_summary_token_count_avg}}</p>
<p>real tokens per post: {{real_summary_token_count_avg}}</p>
<br>
<p>estimated cost per post: {{estimate_cost_summary_post}}</p>
<p>real cost per post: {{real_cost_summary_post}}e</p>



